body:not(.cheatsheet) {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .main {
    flex: 1;
  }

  .header,
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    background-color: $gray-200;
    color: $gray-400;
    padding: map-get($spacers, 5);
  }
}
